x64/
x64/Debug/
.vs/
.vs/Project_Tank_Battle
.vs/Project_Tank_Battle/
.vs/Project_Tank_Battle/v16/
Project_Tank_Battle/x64/
Project_Tank_Battle/x64/Debug/

Project_Tank_Battle/Project_Tank_Battle.vcxproj
Project_Tank_Battle/Project_Tank_Battle.vcxproj.filters
.vs/Project_Tank_Battle/v16/Browse.VC.db
